<footer class="footer-style page-footer font-small blue pt-4">
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-md-4">
                <h5 class="text-uppercase footer-col-title" tsl-content="Information"></h5>
                <ul class="list-unstyled">
                    <li>
                        <a class="nav-link footer-text-style" href="../Privacy" tsl-content="Privacy"></a>
                    </li>
                    <li>
                        <a class="nav-link footer-text-style" href="../Conditions" tsl-content="Conditions"></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5 class="text-uppercase footer-col-title" tsl-content="WorkWithUs"></h5>
                <ul class="list-unstyled">
                    <li>
                        <a class="nav-link footer-text-style" href="../Partnership" tsl-content="Partnership"></a>
                    </li>
                    <li>
                        <a class="nav-link footer-text-style" href="../Advertising" tsl-content="Advertising"></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 ">
                <h5 class="text-uppercase footer-col-title" tsl-content="Information"></h5>
                <ul class="list-unstyled">
                    <li>
                        <a class="nav-link footer-text-style" href="../Support" tsl-content="Support"></a>
                    </li>
                    <li>
                        <a class="nav-link footer-text-style" href="../FAQ">FAQ</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3 main-text-color"> © 2020 @Model.GetItem("Copyright")</div>

</footer>