<nav class="width-80 navbar overflow navbar-expand-lg header-background-style shadow">

    <a class="navbar-brand" href="../Index">
        <img src="@Model.GetItem("Logo-img")" alt="@Model.GetItem("Main")" title="@Model.GetItem("Main")" />
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">≡</span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link header-text-style" href="../Index" tsl-content="Main"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link header-text-style" href="../Categories" tsl-content="Categories"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link header-text-style" href="../Exhibitions" tsl-content="Exhibitions"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link header-text-style" href="../AboutUs" tsl-content="AboutUs"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link header-text-style" href="../Contacts" tsl-content="Contacts"></a>
            </li>
            <li>
                <partial name="Partials/LanguageSelector" model="Model" />
            </li>
        </ul>
    </div>

</nav>