@model CatExhibition.PageModels.CustomizedPageModel

<form method="post">
    <ul style="float: right" class="main-text-color">
        @foreach (var item in Model.GetLanguages())
        {
            <li>
                <input class="language-selector-btn" type="submit" name="Language" value="@item" />
            </li>
        }
    </ul>
</form>