@page
@model CatExhibition.AdvertisingModel
@{
    Layout = "_Layout";
    ViewData["Title"] = Model.GetItem("Advertising");
    var isFormSent = Model.Request.QueryString.ToString() == "?" ? true : false;
}

@if (!isFormSent)
{
    <div class="main2-bg-block-50">
        <div style="padding-top: 75px;"></div>
        <div class="main-text-style centered-article-header" tsl-content="Advertising"></div>
        <partial name="Partials/ContactForm" model="Model" />
    </div>
}
else
{
    <div class="center main-text-style" style="font-size: 40px" tsl-content="MessageSent"></div>
}

