@page
@model IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = Model.GetItem("Main");
}

<h1 class="page-title-text" tsl-content="WelcomeText"></h1>
<img class="bg-image" src="~/img/backgrounds/main-page-bg.jpg" alt="@Model.GetItem("CatAlt")" />

<div class="index-page-article" >
    <img src="~/img/cats/cat1.jpg" alt="@Model.GetItem("CatAlt")" 
         style="float: left; height: 20%; width: 100%; max-width: 400px; padding: 2%" />
    <div class="article1-text" tsl-content="Article1"></div>
</div>

@*@Model.lang <partial name="Partials/LanguageSelector" model="Model" />*@
