body {
    background: #000000
}
.main-text-color {
    color: #ff9600;
    font-family: 'Comic Sans MS';
}
.header-background-style {
    background-color: #2e2e2e
}
.header-text-style {
    color: #ff9600;
    font-family: 'Comic Sans MS';
    font-size: 25px;
    text-decoration: none;
}
    .header-text-style:hover {
        color: #ff8000;
    }
.navbar-toggler-icon {
    font-size: 30px;
    color: #ff9600;
}
.footer-style {
    background: #000000
}
.footer-col-title {
    color: lightgray;
    font-family: 'Comic Sans MS';
    font-size: 15px;
}
.main-text-style-hovered {
    color: #ff9600;
    font-family: 'Comic Sans MS';
    font-size: 20px;
    cursor: pointer
}
    .main-text-style-hovered:hover {
        color: #ff9600;
        font-weight: 600;
    }
.main-text-style {
    color: #ff9600;
    font-family: 'Comic Sans MS';
}
.main1-bg-block-20{
    height: 20%;
    background-color: black;
    color: white
}
.main2-bg-block-50 {
    height: 50%;
    background-color: #3C3C3C;
    color: white
}
.text-style-1 {
    font-size: 18px;
    color: white;
    padding: 2%;
    font-family: 'Segoe Print'
}
.text-style-2 {
    font-size: 18px;
    color: white;
    padding: 2%;
    font-family: 'Segoe Print';
    text-align: center
}
.language-selector-btn {
    background-color: Transparent;
    color: #ff9600;
    border-color: #ff9600;
}
.zoom-overlay {
    background: #000;
}
