ul {
    list-style-type: none;
}

.width-80{
    width: 90%;
    margin-left: 5%
}
.bg-image {
    margin-top: -25px;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none !important
}
    a:hover {
        text-decoration: none
    }

.overflow {
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 9999;
}
.page-title-text {
    position: absolute;
    padding-top: 75%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
    font-family: 'Minion Pro';
    color: white;
}
.row-images {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.column-images {
    margin: auto
}
.padding-top-bot-small{
    padding-bottom: 15px;
    padding-top: 15px;
}
.image-centered {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.centered-article-header {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 40px;
}
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
.fnc-category.selected {
    font-weight: 600;
    font-size: 25px;
    text-decoration: underline;
}
.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}